@model IEnumerable<AttackOnDotnetMvcCore.Models.Platform>

@{
    ViewData["Title"] = "Index";
    ViewBag.PageName = "Platforms";
    ViewBag.UpperPageName = "Home";
    ViewBag.UpperRoute = "/Home/";
}

<partial name="_Breadcrumbs" />
<div class="container">
    @if(User.IsInRole("admin")) {
        <p class="mt-4">
            <a asp-action="Create">Create New</a>
        </p>
    }
    <table class="table mt-4">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TechniqueID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TechniqueID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

