@using AttackOnDotnetMvcCore.Models
@model Tuple<Test, Technique, Platform>

@{
    ViewData["Title"] = "Details";
    ViewBag.PageName = "Test Details";
    ViewBag.UpperPageName = "Tests";
    ViewBag.UpperRoute = "/Tests/";
}

<partial name="_Breadcrumbs" />
<div class="container">
    <div class="mt-4 p-4">
        <div class="section-header">
            <span>@Model.Item1.Name</span>
            <h2>@Model.Item1.Name</h2>
        </div>
        <div class="d-flex">
            <div class="col-6">
                <h3 class="header">Test Information</h3>
                <table class="table w-75">
                    <tbody>
                        <tr class="row">
                            <td class="col">Technique ID</td>
                            <td class="col">@("T" + Model.Item1.TechniqueID.ToString())</td>
                        </tr>
                        <tr class="row">
                            <td class="col">Technique Name</td>
                            <td class="col">@Model.Item2.Name</td>
                        </tr>
                        <tr class="row">
                            <td class="col">Sub-technique ID</td>
                            <td class="col">@Model.Item1.SubTechniqueID</td>
                        </tr>
                        <tr class="row">
                            <td class="col">Sub-technique Name</td>
                            <td class="col">@Model.Item1.SubTechniqueName</td>
                        </tr>
                        <tr class="row">
                            <td class="col">Platform</td>
                            <td class="col">@Model.Item3.Name</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h4 class="header">About the Test</h4>
                <p>@Model.Item1.LongDescription</p>
                <a href="@Model.Item1.Url">Read More...</a>
            </div>
        </div>
        <div class="d-flex">
            <div class="col-6">
                <h4 class="header">About the Technique</h4>
                <p>@Model.Item2.LongDescription</p>
                <a href="/Techniques/Details/@Model.Item2.ID">Read More...</a>
            </div>
        </div>
    </div>

    <div class="p-4 px-2">
        @if (User.IsInRole("admin"))
        {
        <a class="m-3" asp-action="Edit" asp-route-id="@Model?.Item1.ID">Edit</a> 
        }
        <a asp-action="Index">Back to List</a>
    </div>
</div>


