@model AttackOnDotnetMvcCore.Models.Technique
@{
    ViewBag.Title = "Technique";
}

<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>@Model.Name</h2>
                    <p>@Model.ShortDescription</p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="/Mitre/Techniques">Techniques</a></li>
                <li>@Model.Name</li>
            </ol>
        </div>
    </nav>
</div><!-- End Breadcrumbs -->

<div class="container">
    <h2 class="header">Technique Information</h2>
    <table class="table w-25">
        <tbody>
            <tr class="row">
                <td class="col">Technique ID</td>
                <td class="col">@("T" + Model.ID.ToString())</td>
            </tr>
            <tr class="row">
                <td class="col">Technique Name</td>
                <td class="col">@Model.Name</td>
            </tr>
            <tr class="row">
                <td class="col">Tactic Name</td>
                <td class="col">@Model.TacticName</td>
            </tr>
            <tr class="row">
                <td class="col">Platforms</td>
                <td class="col">
                    @*@foreach (var p in Model.Platforms)
                    {
                        <p>@p</p>
                    }*@
                </td>
            </tr>

        </tbody>
    </table>
</div>