@model AttackOnDotnetMvcCore.Models.Technique

@{
    ViewData["Title"] = "Delete";
    ViewBag.PageName = "Delete Technique";
    ViewBag.Explanation = "";
    ViewBag.UpperPageName = "Techniques";
    ViewBag.UpperRoute = "/Techniques/Index";
}
@Html.PartialAsync("_Breadcrumbs");

<div class="container">
    <h1>Delete</h1>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Technique</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TacticName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TacticName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LongDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LongDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Url)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Url)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
